---
import Content from "@/assets/portfolio-itself.md"
import Main from "@/layouts/main.astro";
---

<Main>
    <div class="max-w-3xl w-full mx-auto px-6 py-2 markdown space-y-1.5 balance rounded-lg my-6 bg-neutral-900 text-neutral-300/75">
        <Content/>
    </div>
</Main>