@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
html {
  font-size: 1em;
}
@media (max-width: 600px) {
  html {
    font-size: 2em;
  }
}

body {
  background: #19140F;
  color: #C2AC8F;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  position: relative;
}

section {
  margin-bottom: 120px;
}

header {
  padding: 8px 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #C2AC8F;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), #19140F;
}
header p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  user-select: none;
}
header a {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}
header .deco {
  position: relative;
}
header a:hover {
  text-decoration: underline;
}
header .deco {
  margin: -1rem -16px;
  min-height: 1.75rem;
}
@media (max-width: 600px) {
  header {
    padding: 0 16px;
  }
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  padding: 16px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #C2AC8F;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), #19140F;
}
footer p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  user-select: none;
}
footer a {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}
footer .deco {
  position: relative;
}
@media screen and (max-width: 1280px) {
  footer {
    flex-wrap: wrap;
    gap: 16px;
  }
  footer p {
    flex-basis: 100%;
  }
}

.badge {
  display: flex;
  padding: 4px 8px;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid;
  border-color: currentColor;
  color: #C2AC8F;
  position: relative;
  overflow: hidden;
  background-position: center;
  cursor: pointer;
  user-select: none;
}
.badge img {
  height: 1.5rem;
  width: 1.5rem;
}
.badge span {
  color: currentColor;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}
.badge.teal {
  color: #2CFFC0;
  transition: background 0.5s ease-in-out;
}
.badge.teal:hover {
  background: rgba(44, 255, 192, 0) radial-gradient(circle, rgba(44, 255, 192, 0.1) 1%, transparent 1%) center/15000%;
}
.badge.teal:active {
  background-color: rgba(44, 255, 192, 0.25);
  background-size: 100%;
  transition: background 0s;
}
.badge.blue {
  color: #29A0DA;
  transition: background 0.5s ease-in-out;
}
.badge.blue:hover {
  background: rgba(41, 160, 218, 0) radial-gradient(circle, rgba(41, 160, 218, 0.1) 1%, transparent 1%) center/15000%;
}
.badge.blue:active {
  background-color: rgba(41, 160, 218, 0.25);
  background-size: 100%;
  transition: background 0s;
}
.badge.light-blue {
  color: #2CCCFF;
  transition: background 0.5s ease-in-out;
}
.badge.light-blue:hover {
  background: rgba(44, 204, 255, 0) radial-gradient(circle, rgba(44, 204, 255, 0.1) 1%, transparent 1%) center/15000%;
}
.badge.light-blue:active {
  background-color: rgba(44, 204, 255, 0.25);
  background-size: 100%;
  transition: background 0s;
}
.badge.orange {
  color: #FFA836;
  transition: background 0.5s ease-in-out;
}
.badge.orange:hover {
  background: rgba(255, 168, 54, 0) radial-gradient(circle, rgba(255, 168, 54, 0.1) 1%, transparent 1%) center/15000%;
}
.badge.orange:active {
  background-color: rgba(255, 168, 54, 0.25);
  background-size: 100%;
  transition: background 0s;
}
.badge.green {
  color: #81FF1E;
  transition: background 0.5s ease-in-out;
}
.badge.green:hover {
  background: rgba(129, 255, 30, 0) radial-gradient(circle, rgba(129, 255, 30, 0.1) 1%, transparent 1%) center/15000%;
}
.badge.green:active {
  background-color: rgba(129, 255, 30, 0.25);
  background-size: 100%;
  transition: background 0s;
}
.badge.yellow {
  color: #FAE94A;
  transition: background 0.5s ease-in-out;
}
.badge.yellow:hover {
  background: rgba(250, 233, 74, 0) radial-gradient(circle, rgba(250, 233, 74, 0.1) 1%, transparent 1%) center/15000%;
}
.badge.yellow:active {
  background-color: rgba(250, 233, 74, 0.25);
  background-size: 100%;
  transition: background 0s;
}

.portfolio-grid {
  display: flex;
  max-width: 1680px;
  width: 100%;
  margin: 24px auto 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 1280px) {
  .portfolio-grid {
    padding: 0 12px;
  }
}
@media (max-width: 600px) {
  .portfolio-grid {
    flex-flow: column;
  }
}
.portfolio-card {
  padding: 8px;
  flex: 0 0 33.333333%;
  width: 33.333333%;
  box-sizing: border-box;
}
@media screen and (max-width: 1280px) {
  .portfolio-card {
    flex-basis: 50%;
    width: 50%;
  }
  .portfolio-card:last-child .portfolio-card:first-child {
    flex-basis: 100%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .portfolio-card {
    flex-basis: 100%;
    width: 100%;
  }
}
.portfolio-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  background: #302B27;
  width: 100%;
  height: fit-content;
  transition: box-shadow 0.1s ease-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.portfolio-card-content:hover {
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.15);
}
.portfolio-card-content__image {
  height: fit-content;
  align-self: stretch;
  display: block;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16/9;
  flex-shrink: 0;
  border-radius: 24px 24px 12px 12px;
}
.portfolio-card-content__image picture {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  line-height: 10rem;
  text-transform: uppercase;
}
.portfolio-card-content__image picture img {
  max-width: 100%;
  min-height: 100%;
}
.portfolio-card-content-body {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.portfolio-card-content-body__title {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.portfolio-card-content-body__desc {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.portfolio-card-content-body__desc p + p, .portfolio-card-content-body__desc p + ul, .portfolio-card-content-body__desc p + ol {
  margin-top: 1rem;
}
.portfolio-card-content-body__badges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.gallery-grid-item {
  padding: 8px;
  flex: 0 0 50%;
  width: 50%;
  height: fit-content;
  box-sizing: border-box;
}
.gallery-grid-item picture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  overflow: hidden;
  background: #302B27;
  width: 100%;
  height: fit-content;
  transition: box-shadow 0.1s ease-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  text-align: center;
}
.gallery-grid-item picture img {
  width: 100%;
}
.gallery-grid-item picture:hover {
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.15);
}
.gallery-grid-desktop {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 66.66666%;
}
@media screen and (max-width: 1280px) {
  .gallery-grid-desktop {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .gallery-grid-desktop .gallery-grid-item {
    flex-basis: 100%;
    width: 100%;
  }
}
.gallery-grid-adaptive {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 33.333333%;
}
@media screen and (max-width: 1280px) {
  .gallery-grid-adaptive {
    width: 100%;
  }
  .gallery-grid-adaptive .gallery-grid-item {
    flex-basis: 33.333333%;
    width: 33.333333%;
  }
}
@media (max-width: 600px) {
  .gallery-grid-adaptive .gallery-grid-item {
    flex-basis: 50%;
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
